[submodule "informed/diff-fdn-colorless"]
	path = informed/diffFDN
	url = git@github.com:gdalsanto/diff-fdn-colorless.git
[submodule "informed/Two_stage_filter"]
	path = informed/Two_stage_filter
	url = git@github.com:gdalsanto/Two_stage_filter.git
